<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap" rel="stylesheet">
  <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://91.166.191.86:60000/socket.io/socket.io.js" ></script>
  <!-- <script src='https://cdn.jsdelivr.net/npm/@interactjs/interactjs/index.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>-->
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
  <script src="script.js" defer></script>
  <script type="module" src="interact.js" defer></script>
  <style>
    #video-grid {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    video {
      height: 300px;
      width: 400px;
      padding: 8px;
      border: aliceblue;
      border-style: solid;
      border-width: 1000;
    }
    .room-no {
      color: white;
      font-size: 30px;
      left: 30px;
      top: 30px;
      position: absolute;
    }
    video:nth-child(1)::before {
      content: "Yoo";
      color: aliceblue;
      font-weight: bold;
    }
    video::-webkit-media-controls-current-time-display {
      display: none;
    }
  </style>
  <script type="text/javascript">
    window.onbeforeunload = function () {
      return "Dude, are you sure you want to leave? Think!";
    }


  </script>
</head>

<body>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <input id="my_username" type="text" placeholder="Your name " class="form-control">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="user()">Save changes</button>
          </div>
        </div>
      </div>
    </div>
<!-- END MODAL-->
  <div class="main">
    <div class="main__left">
      <div class="main__videos">
        <p class="room-no">Room No: <%= roomId %></p>

        <div id="video-grid">

        </div>
        <div id="screen-shared">
          
        </div>
      </div>

      <div class="main__controls">
        <div class="main__controls__block">
          <div id="toggleMute" class="main__controls__button main__mute_button">
            <i class="fas fa-microphone"></i>
            <span>Mute</span>
          </div>
          <div onclick="playStop()" class="main__controls__button main__video_button">
            <i class="fas fa-video"></i>
            <span>Stop Video</span>
          </div>
          <div class ="main_controls_button output_devices">
              <select id="outPutce_devices">

              </select>
          </div>
        </div>
        <div class="main__controls__block">
          <div onclick="screenCapture()" class="main__controls__button">
            <i class="fas fa-desktop"></i>
            <span id="screen-text">Screen Share</span>
          </div>
          <div class="main__controls__button">
            <i class="fas fa-user-friends"></i>
            <span>Participants</span>
          </div>
          <div class="main__controls__button" id="sidebarCollapse">
            <i class="fas fa-comment-alt"></i>
            <span>Chat</span>
          </div>
        </div>
        <div class="main__controls__block">
          <div onClick="exit()" class="main__controls__button">
            <span class="leave_meeting">Leave Meeting</span>
          </div>
        </div>
      </div>
    </div>
    <!-- CHAT -->
    <div class="main__right" id="sidebar">
      <div class="main__header" id="chat_header">
        <h6 style="margin-top: 20px;">Chat Room</h6>
      </div>
      <div class="main__chat_window" id="chat_screen">
        <ul class="messages">
        </ul>
      </div>
      <div class="main__message_container" id="chat_input" style="border:white;">
        <input id="chat_message" type="text" placeholder="Type message here...">
      </div>
    </div> 
  </div>
  <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>
</html>
